body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.section {
  border-bottom: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.section-title {
  cursor: pointer;
  font-size: 24px;
  margin: 0;
  padding: 10px 0;
  background: none;
  border: none;
  width: 100%;
  text-align: center;
}

.section-title:focus {
  outline: none;
}

.section-content {
  display: none;
  margin-top: 10px;
  text-align: center;
}

/* Añade estilos para una experiencia accesible */
.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* Estilo para resaltar enfoque de teclado */
.section-title:focus {
  background-color: #f0f0f0;
  border-radius: 4px;
}

/* Colores de las secciones */
.section:nth-child(1) {
  background-color: #ffd6ff; /* Color para la primera sección */
}

.section:nth-child(2) {
  background-color: #e7c6ff; /* Color para la segunda sección */
}

.section:nth-child(3) {
  background-color: #c8b6ff; /* Color para la tercera sección */
}

.section:nth-child(4) {
  background-color: #b8c0ff; /* Color para la cuarta sección */
}

.section:nth-child(5) {
  background-color: #bbd0ff; /* Color para la quinta sección */
}

.section:nth-child(6) {
  background-color: #90e0ef; /* Color para la sexta sección */
}

.section:nth-child(7) {
  background-color: #48cae4; /* Color para la séptima sección */
}
.section:nth-child(8) {
  background-color: #00B4D8; /* Color para la séptima sección */
  /*------------(CSS LOGO TAW)------------*/
.tawlogo { 
	font-family: arial, sans-serif; 
	border: 1px solid #555; 
	vertical-align: 0.3em;
	font-weight: bold;
	color: #fff;
	font-size: 0.9em; 
	background-color: #555;
	padding: 0;
}

.tawlogo .tnivel {
	padding: 0 0.4em ;
	border-bottom: 0px;
	background-color: #555;
	color: #fff;
	font-size: 0.8em;
}

.tawlogo abbr {
	border-bottom: 0px;
}

.tawlogo acronym{
	border-bottom: 0px;
	padding: 0 0.3em;
	background-color: #fff;
	color: #000; 
}

.tawlogo sup{
	padding: 0em;
	vertical-align: 0.6em;
	font-size: 0.6em;
}
/*------------(CSS LOGO TAW)------------*/

}
